
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    width: 300px;
}

.board {
    --board-size: 100vmin;
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
    height: var(--board-size);
}

.node {
    background-color: white;
    width: var(--node-size);
    height: var(--node-size);
}

.land {
    background-color: orange;   
}

.water {
    background-color: blue;
}

.search {
    background-color: green;
}

.current {
    background-color: red;
}