/* * {
    --node-size: 1vmin;
} */

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.board {
    --board-size: 100vmin;
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
    height: var(--board-size);
}

.node {
    background-color: white;
    width: var(--node-size);
    height: var(--node-size);
}

.island {
    background-color: orange;   
}

.water {
    background-color: blue;
}